[submodule "lib/commonlibsse-ng"]
	path = lib/commonlibsse-ng
	url = https://github.com/alandtse/CommonLibSSE-NG.git
	branch = ng
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/nanosvg"]
	path = external/nanosvg
	url = https://github.com/memononen/nanosvg.git
